<div align="center">

# **ETL review California**

</div>

In [2]:
import pandas as pd

In [4]:
california_review1 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\1.json', lines= True)
california_review2 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\2.json', lines= True)
california_review3 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\3.json', lines= True)
california_review4 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\4.json', lines= True)
california_review5 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\5.json', lines= True)
california_review6 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\6.json', lines= True)
california_review7 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\7.json', lines= True)
california_review8 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\8.json', lines= True)
california_review9 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\9.json', lines= True)
california_review10 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\10.json', lines= True)
california_review11 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\11.json', lines= True)
california_review12 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\12.json', lines= True)
california_review13 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\13.json', lines= True)
california_review14 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\14.json', lines= True)
california_review15 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\15.json', lines= True)
california_review16 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\16.json', lines= True)
california_review17 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\17.json', lines= True)
california_review18 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-California\\18.json', lines= True)

In [8]:
data_california = [california_review1, california_review2, california_review3, california_review4, california_review5, california_review6, california_review7,california_review8,
                   california_review9,california_review10,california_review11,california_review12, california_review13, california_review14, california_review15,
                   california_review16, california_review17, california_review18]
california = pd.concat(data_california, ignore_index=True)
california

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.089912e+20,Song Ro,1609909927056,5,Love there korean rice cake.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
1,1.112903e+20,Rafa Robles,1612849648663,5,Good very good,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
2,1.126404e+20,David Han,1583643882296,4,They make Korean traditional food very properly.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
3,1.174403e+20,Anthony Kim,1551938216355,5,Short ribs are very delicious.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
4,1.005808e+20,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
...,...,...,...,...,...,...,...,...
2699995,1.139124e+20,Mayur Senjalia,1553382802382,5,None,None,None,0x808fc0c19ba4e761:0x589c9ad71c62a420
2699996,1.180461e+20,Dennis Barrios,1509453169393,5,None,None,None,0x808fc0c19ba4e761:0x589c9ad71c62a420
2699997,1.071072e+20,gena807,1614453586811,4,None,None,None,0x808fc0c19ba4e761:0x589c9ad71c62a420
2699998,1.172404e+20,Anant Khadke,1569739943903,5,None,None,None,0x808fc0c19ba4e761:0x589c9ad71c62a420
2699999,1.117537e+20,Phillip Uyesato,1521661727317,5,None,None,None,0x808fc0c19ba4e761:0x589c9ad71c62a420

### eliminamos la columas que no vamos a necesitar

In [10]:
california = california.drop(columns=['pics'], axis=1)
california = california.drop(columns=['resp'], axis= 1)

In [11]:
# completar los nulos con la palabra 'sin reseña'
california['text'].fillna('No text', inplace=True)
# agregar la columna 'state' con el nombre del estado
california['state'] = 'California'

In [13]:
california['Date'] = pd.to_datetime(california['time'], unit='ms')
california

,user_id,name,time,rating,text,gmap_id,state,Date
0,1.089912e+20,Song Ro,1609909927056,5,Love there korean rice cake.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2021-01-06 05:12:07.056
1,1.112903e+20,Rafa Robles,1612849648663,5,Good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2021-02-09 05:47:28.663
2,1.126404e+20,David Han,1583643882296,4,They make Korean traditional food very properly.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2020-03-08 05:04:42.296
3,1.174403e+20,Anthony Kim,1551938216355,5,Short ribs are very delicious.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2019-03-07 05:56:56.355
4,1.005808e+20,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2017-05-16 05:01:41.933
...,...,...,...,...,...,...,...,...
2699995,1.139124e+20,Mayur Senjalia,1553382802382,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2019-03-23 23:13:22.382
2699996,1.180461e+20,Dennis Barrios,1509453169393,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2017-10-31 12:32:49.393
2699997,1.071072e+20,gena807,1614453586811,4,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2021-02-27 19:19:46.811
2699998,1.172404e+20,Anant Khadke,1569739943903,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2019-09-29 06:52:23.903
2699999,1.117537e+20,Phillip Uyesato,1521661727317,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2018-03-21 19:48:47.317

In [14]:
california['Date'] = california['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [15]:
california

,user_id,name,time,rating,text,gmap_id,state,Date
0,1.089912e+20,Song Ro,1609909927056,5,Love there korean rice cake.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2021-01-06 05:12:07
1,1.112903e+20,Rafa Robles,1612849648663,5,Good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2021-02-09 05:47:28
2,1.126404e+20,David Han,1583643882296,4,They make Korean traditional food very properly.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2020-03-08 05:04:42
3,1.174403e+20,Anthony Kim,1551938216355,5,Short ribs are very delicious.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2019-03-07 05:56:56
4,1.005808e+20,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2017-05-16 05:01:41
...,...,...,...,...,...,...,...,...
2699995,1.139124e+20,Mayur Senjalia,1553382802382,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2019-03-23 23:13:22
2699996,1.180461e+20,Dennis Barrios,1509453169393,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2017-10-31 12:32:49
2699997,1.071072e+20,gena807,1614453586811,4,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2021-02-27 19:19:46
2699998,1.172404e+20,Anant Khadke,1569739943903,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2019-09-29 06:52:23
2699999,1.117537e+20,Phillip Uyesato,1521661727317,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2018-03-21 19:48:47

In [16]:
#Eliminamos la columna 'name' y la columna 'time'
california = california.drop(columns=['name', 'time'], axis = 1)
california

,user_id,rating,text,gmap_id,state,Date
0,1.089912e+20,5,Love there korean rice cake.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2021-01-06 05:12:07
1,1.112903e+20,5,Good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2021-02-09 05:47:28
2,1.126404e+20,4,They make Korean traditional food very properly.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2020-03-08 05:04:42
3,1.174403e+20,5,Short ribs are very delicious.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2019-03-07 05:56:56
4,1.005808e+20,5,Great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2017-05-16 05:01:41
...,...,...,...,...,...,...
2699995,1.139124e+20,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2019-03-23 23:13:22
2699996,1.180461e+20,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2017-10-31 12:32:49
2699997,1.071072e+20,4,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2021-02-27 19:19:46
2699998,1.172404e+20,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2019-09-29 06:52:23
2699999,1.117537e+20,5,No text,0x808fc0c19ba4e761:0x589c9ad71c62a420,California,2018-03-21 19:48:47

In [21]:
california['APP'] = 'Google'
california.head(5)

,user_id,rating,text,gmap_id,state,Date,APP
0,1.089912e+20,5,Love there korean rice cake.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2021-01-06 05:12:07,Google
1,1.112903e+20,5,Good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2021-02-09 05:47:28,Google
2,1.126404e+20,4,They make Korean traditional food very properly.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2020-03-08 05:04:42,Google
3,1.174403e+20,5,Short ribs are very delicious.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2019-03-07 05:56:56,Google
4,1.005808e+20,5,Great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49,California,2017-05-16 05:01:41,Google

<div align="center">

# **ETL review Texas**

</div>

In [5]:
texas_reviex_1 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\1.json', lines= True)
texas_reviex_2 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\2.json', lines= True)
texas_reviex_3 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\3.json', lines= True)
texas_reviex_4 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\4.json', lines= True)
texas_reviex_5 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\5.json', lines= True)
texas_reviex_6 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\6.json', lines= True)
texas_reviex_7 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\7.json', lines= True)
texas_reviex_8 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\8.json', lines= True)
texas_reviex_9 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\9.json', lines= True)
texas_reviex_10 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\10.json', lines= True)
texas_reviex_11 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\11.json', lines= True)
texas_reviex_12 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\12.json', lines= True)
texas_reviex_13 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\13.json', lines= True)
texas_reviex_14 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\14.json', lines= True)
texas_reviex_15 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\15.json', lines= True)
texas_reviex_16 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Texas\\16.json', lines= True)

In [33]:
# Concatena los DataFrames verticalmente

dataframes = [texas_reviex_1, texas_reviex_2, texas_reviex_3, texas_reviex_4, texas_reviex_5,
                   texas_reviex_6, texas_reviex_7, texas_reviex_8, texas_reviex_9, texas_reviex_10,
                   texas_reviex_11, texas_reviex_12, texas_reviex_13, texas_reviex_14, texas_reviex_15,
                   texas_reviex_16]

t_c= pd.concat(dataframes, ignore_index=True)

In [34]:
texas_concat=t_c

In [35]:
#eliminamos columnas innecesarias
texas_concat = texas_concat.drop(columns= ['name', 'pics', 'resp'])
#creamos una nueva columna 'state' y lo completamos con el nombre del estado
texas_concat['state']= 'Texas'
# completar los nulos con la palabra 'sin reseña'
texas_concat['text'].fillna('No text', inplace=True)
texas_concat

,user_id,time,rating,text,gmap_id,state
0,1.105453e+20,1625431734826,5,"The pharmacist, Erin, is phenomenal. She was s...",0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas
1,1.036198e+20,1568336283913,2,I gave them 2 stars because they offer prescri...,0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas
2,1.019167e+20,1519873586872,1,If I could put minus stars I would. This has t...,0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas
3,1.178709e+20,1571638384637,1,Please fix your restroom doors,0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas
4,1.103973e+20,1546568877087,1,This pharmacy Walmart dose not work not come a...,0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas
...,...,...,...,...,...,...
2296819,1.162897e+20,1539998441571,4,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas
2296820,1.059138e+20,1579034525104,5,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas
2296821,1.124842e+20,1558362918171,4,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas
2296822,1.174599e+20,1601477255399,5,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas
2296823,1.038504e+20,1561698360190,5,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas

In [ ]:
texas_concat['Date'] = pd.to_datetime(texas_concat['time'], unit='ms')
texas_concat['Date'] = texas_concat['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')
texas_concat['APP'] = 'Google'

In [40]:
texas_concat=texas_concat.drop(columns=['time'])
texas_concat

,user_id,rating,text,gmap_id,state,Date,APP
0,1.105453e+20,5,"The pharmacist, Erin, is phenomenal. She was s...",0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas,2021-07-04 20:48:54,Google
1,1.036198e+20,2,I gave them 2 stars because they offer prescri...,0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas,2019-09-13 00:58:03,Google
2,1.019167e+20,1,If I could put minus stars I would. This has t...,0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas,2018-03-01 03:06:26,Google
3,1.178709e+20,1,Please fix your restroom doors,0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas,2019-10-21 06:13:04,Google
4,1.103973e+20,1,This pharmacy Walmart dose not work not come a...,0x864c3998b8d8dc83:0x57ffabe1e2322320,Texas,2019-01-04 02:27:57,Google
...,...,...,...,...,...,...,...
2296819,1.162897e+20,4,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas,2018-10-20 01:20:41,Google
2296820,1.059138e+20,5,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas,2020-01-14 20:42:05,Google
2296821,1.124842e+20,4,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas,2019-05-20 14:35:18,Google
2296822,1.174599e+20,5,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas,2020-09-30 14:47:35,Google
2296823,1.038504e+20,5,No text,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,Texas,2019-06-28 05:06:00,Google

<div align="center">

# **ETL review Indiana**

</div>

In [6]:
indiana_1 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\1.json', lines= True)
indiana_2 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\2.json', lines= True)
indiana_3 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\3.json', lines= True)
indiana_4 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\4.json', lines= True)
indiana_5 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\5.json', lines= True)
indiana_6 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\6.json', lines= True)
indiana_7 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\7.json', lines= True)
indiana_8 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\8.json', lines= True)
indiana_9 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\9.json', lines= True)
indiana_10 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\10.json', lines= True)
indiana_11 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\11.json', lines= True)
indiana_12 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\12.json', lines= True)
indiana_13 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\13.json', lines= True)
indiana_14 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\14.json', lines= True)
indiana_15 = pd.read_json('E:\\documentos\\soyhenry\\DATA SCIENCE\\MODULOS\\PROYECTO FINAL\\datasets\\google\\review\\review-Indiana\\15.json', lines= True)

In [37]:
#concatenamos
dataframes = [indiana_1, indiana_2, indiana_3, indiana_4, indiana_5, indiana_6, indiana_7, indiana_8, indiana_9, indiana_10, indiana_11, indiana_12, indiana_13, indiana_14, indiana_15]

indiana = pd.concat(dataframes, ignore_index= True)

In [38]:
#eliminamos columnas innecesarias
indiana = indiana.drop(columns= ['name', 'pics', 'resp'])
#creamos una nueva columna 'state' y lo completamos con el nombre del estado
indiana['state']= 'Indiana'
# completar los nulos con la palabra 'sin reseña'
indiana['text'].fillna('No text', inplace=True)

,user_id,time,rating,text,gmap_id,state
0,1.114237e+20,1615400502414,5,Majestic security was the best job I ever had ...,0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana
1,1.135966e+20,1597280425295,5,I have used this company for a number of years...,0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana
2,1.008217e+20,1596678908723,5,"I am an employee with Majestic Security, and h...",0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana
3,1.060630e+20,1606588867988,1,My husband has worked for this company for a f...,0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana
4,1.072273e+20,1606677082659,5,I'm 55 and have been here with Magestic over 6...,0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana
...,...,...,...,...,...,...
2249995,1.181282e+20,1504110933856,5,Home style personified,0x881523b6d18734c1:0xcc3f561226036174,Indiana
2249996,1.000854e+20,1519400397040,5,Good food,0x881523b6d18734c1:0xcc3f561226036174,Indiana
2249997,1.029874e+20,1501194809358,2,Ok food,0x881523b6d18734c1:0xcc3f561226036174,Indiana
2249998,1.136312e+20,1517934505517,5,Love this place,0x881523b6d18734c1:0xcc3f561226036174,Indiana
2249999,1.101796e+20,1493310842737,5,Love the staff,0x881523b6d18734c1:0xcc3f561226036174,Indiana

In [41]:
indiana['Date'] = pd.to_datetime(texas_concat['time'], unit='ms')
indiana['Date'] = indiana['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')
indiana['APP'] = 'Google'
indiana=indiana.drop(columns=['time'])
indiana

,user_id,rating,text,gmap_id,state,Date,APP
0,1.114237e+20,5,Majestic security was the best job I ever had ...,0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana,2021-07-04 20:48:54,Google
1,1.135966e+20,5,I have used this company for a number of years...,0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana,2019-09-13 00:58:03,Google
2,1.008217e+20,5,"I am an employee with Majestic Security, and h...",0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana,2018-03-01 03:06:26,Google
3,1.060630e+20,1,My husband has worked for this company for a f...,0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana,2019-10-21 06:13:04,Google
4,1.072273e+20,5,I'm 55 and have been here with Magestic over 6...,0x8816c4b2fb8fb6a1:0x80451636e10ca83f,Indiana,2019-01-04 02:27:57,Google
...,...,...,...,...,...,...,...
2249995,1.181282e+20,5,Home style personified,0x881523b6d18734c1:0xcc3f561226036174,Indiana,2019-10-16 22:50:53,Google
2249996,1.000854e+20,5,Good food,0x881523b6d18734c1:0xcc3f561226036174,Indiana,2019-08-25 00:46:27,Google
2249997,1.029874e+20,2,Ok food,0x881523b6d18734c1:0xcc3f561226036174,Indiana,2017-01-13 13:56:15,Google
2249998,1.136312e+20,5,Love this place,0x881523b6d18734c1:0xcc3f561226036174,Indiana,2020-02-26 06:49:47,Google
2249999,1.101796e+20,5,Love the staff,0x881523b6d18734c1:0xcc3f561226036174,Indiana,2016-10-21 13:51:48,Google

### concatenamos los estados 'california'. 'texas', 'indiana'

In [42]:
estados = [ california, texas_concat, indiana]
parte_1_review = pd.concat(estados, ignore_index= True)

In [20]:
parte_1_review.to_parquet('google_review_terminado.parquet', index = False)

In [1]:
parte_1_review.shape

NameError: name 'parte_1_review' is not defined