In [1]:
import pandas as pd
import json

Se realiza un ETL sobre las reviews de los usuarios de Google Maps en los estados de Iowa, California, Texas, Indiana, Kentucky y Mississipi.

California

In [ ]:
california_review1 = pd.read_json('Google_reviews/review-California/1.json', lines= True)
california_review2 = pd.read_json('Google_reviews/review-California/2.json', lines= True)
california_review3 = pd.read_json('Google_reviews/review-California/3.json', lines= True)
california_review4 = pd.read_json('Google_reviews/review-California/4.json', lines= True)
california_review5 = pd.read_json('Google_reviews/review-California/5.json', lines= True)
california_review6 = pd.read_json('Google_reviews/review-California/6.json', lines= True)
california_review7 = pd.read_json('Google_reviews/review-California/7.json', lines= True)
california_review8 = pd.read_json('Google_reviews/review-California/8.json', lines= True)
california_review9 = pd.read_json('Google_reviews/review-California/9.json', lines= True)
california_review10 = pd.read_json('Google_reviews/review-California/10.json', lines= True)
california_review11 = pd.read_json('Google_reviews/review-California/11.json', lines= True)
california_review12 = pd.read_json('Google_reviews/review-California/12.json', lines= True)
california_review13 = pd.read_json('Google_reviews/review-California/13.json', lines= True)
california_review14 = pd.read_json('Google_reviews/review-California/14.json', lines= True)
california_review15 = pd.read_json('Google_reviews/review-California/15.json', lines= True)
california_review16 = pd.read_json('Google_reviews/review-California/16.json', lines= True)
california_review17 = pd.read_json('Google_reviews/review-California/17.json', lines= True)
california_review18 = pd.read_json('Google_reviews/review-California/18.json', lines= True)

In [ ]:
# Se concatenan los json
data_california = [california_review1, california_review2, california_review3, california_review4, california_review5, california_review6, california_review7,california_review8,
                   california_review9,california_review10,california_review11,california_review12, california_review13, california_review14, california_review15,
                   california_review16, california_review17, california_review18]
df_california = pd.concat(data_california, ignore_index=True)

Texas

In [ ]:
texas_reviex_1 = pd.read_json('Google_reviews/review-Texas/1.json', lines= True)
texas_reviex_2 = pd.read_json('Google_reviews/review-Texas/2.json', lines= True)
texas_reviex_3 = pd.read_json('Google_reviews/review-Texas/3.json', lines= True)
texas_reviex_4 = pd.read_json('Google_reviews/review-Texas/4.json', lines= True)
texas_reviex_5 = pd.read_json('Google_reviews/review-Texas/5.json', lines= True)
texas_reviex_6 = pd.read_json('Google_reviews/review-Texas/6.json', lines= True)
texas_reviex_7 = pd.read_json('Google_reviews/review-Texas/7.json', lines= True)
texas_reviex_8 = pd.read_json('Google_reviews/review-Texas/8.json', lines= True)
texas_reviex_9 = pd.read_json('Google_reviews/review-Texas/9.json', lines= True)
texas_reviex_10 = pd.read_json('Google_reviews/review-Texas/10.json', lines= True)
texas_reviex_11 = pd.read_json('Google_reviews/review-Texas/11.json', lines= True)
texas_reviex_12 = pd.read_json('Google_reviews/review-Texas/12.json', lines= True)
texas_reviex_13 = pd.read_json('Google_reviews/review-Texas/13.json', lines= True)
texas_reviex_14 = pd.read_json('Google_reviews/review-Texas/14.json', lines= True)
texas_reviex_15 = pd.read_json('Google_reviews/review-Texas/15.json', lines= True)
texas_reviex_16 = pd.read_json('Google_reviews/review-Texas/16.json', lines= True)

In [ ]:
# Se concatenan los json
dataframes = [texas_reviex_1, texas_reviex_2, texas_reviex_3, texas_reviex_4, texas_reviex_5,
                   texas_reviex_6, texas_reviex_7, texas_reviex_8, texas_reviex_9, texas_reviex_10,
                   texas_reviex_11, texas_reviex_12, texas_reviex_13, texas_reviex_14, texas_reviex_15,
                   texas_reviex_16]

df_texas= pd.concat(dataframes, ignore_index=True)

Indiana

In [ ]:
indiana_1 = pd.read_json('Google_reviews/review-Indiana/1.json', lines= True)
indiana_2 = pd.read_json('Google_reviews/review-Indiana/2.json', lines= True)
indiana_3 = pd.read_json('Google_reviews/review-Indiana/3.json', lines= True)
indiana_4 = pd.read_json('Google_reviews/review-Indiana/4.json', lines= True)
indiana_5 = pd.read_json('Google_reviews/review-Indiana/5.json', lines= True)
indiana_6 = pd.read_json('Google_reviews/review-Indiana/6.json', lines= True)
indiana_7 = pd.read_json('Google_reviews/review-Indiana/7.json', lines= True)
indiana_8 = pd.read_json('Google_reviews/review-Indiana/8.json', lines= True)
indiana_9 = pd.read_json('Google_reviews/review-Indiana/9.json', lines= True)
indiana_10 = pd.read_json('Google_reviews/review-Indiana/10.json', lines= True)
indiana_11 = pd.read_json('Google_reviews/review-Indiana/11.json', lines= True)
indiana_12 = pd.read_json('Google_reviews/review-Indiana/12.json', lines= True)
indiana_13 = pd.read_json('Google_reviews/review-Indiana/13.json', lines= True)
indiana_14 = pd.read_json('Google_reviews/review-Indiana/14.json', lines= True)
indiana_15 = pd.read_json('Google_reviews/review-Indiana/15.json', lines= True)

In [ ]:
# Se concatenan los json
dataframes = [indiana_1, indiana_2, indiana_3, indiana_4, indiana_5, indiana_6, indiana_7, indiana_8, indiana_9, indiana_10, indiana_11, indiana_12, indiana_13, indiana_14, indiana_15]

df_indiana = pd.concat(dataframes, ignore_index= True)

Iowa

In [2]:
df1 = pd.read_json('Google_reviews/review-Iowa/1.json', lines=True)
df2 = pd.read_json('Google_reviews/review-Iowa/2.json', lines=True)
df3 = pd.read_json('Google_reviews/review-Iowa/3.json', lines=True)
df4 = pd.read_json('Google_reviews/review-Iowa/4.json', lines=True)
df5 = pd.read_json('Google_reviews/review-Iowa/5.json', lines=True)
df6 = pd.read_json('Google_reviews/review-Iowa/6.json', lines=True)
df7 = pd.read_json('Google_reviews/review-Iowa/7.json', lines=True)
df8 = pd.read_json('Google_reviews/review-Iowa/8.json', lines=True)
df9 = pd.read_json('Google_reviews/review-Iowa/9.json', lines=True)
df10 = pd.read_json('Google_reviews/review-Iowa/10.json', lines=True)
df11= pd.read_json('Google_reviews/review-Iowa/11.json', lines=True)
df12 = pd.read_json('Google_reviews/review-Iowa/12.json', lines=True)
df13 = pd.read_json('Google_reviews/review-Iowa/13.json', lines=True)
df14 = pd.read_json('Google_reviews/review-Iowa/14.json', lines=True)
df15 = pd.read_json('Google_reviews/review-Iowa/15.json', lines=True)
df16 = pd.read_json('Google_reviews/review-Iowa/16.json', lines=True)
df17 = pd.read_json('Google_reviews/review-Iowa/17.json', lines=True)
df18 = pd.read_json('Google_reviews/review-Iowa/18.json', lines=True)

In [3]:
# Se concatenan los json
df_iowa = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18], ignore_index=True)

Kentucky

In [5]:
df1 = pd.read_json('Google_reviews/review-Kentucky/1.json', lines=True)
df2 = pd.read_json('Google_reviews/review-Kentucky/2.json', lines=True)
df3 = pd.read_json('Google_reviews/review-Kentucky/3.json', lines=True)
df4 = pd.read_json('Google_reviews/review-Kentucky/4.json', lines=True)
df5 = pd.read_json('Google_reviews/review-Kentucky/5.json', lines=True)
df6 = pd.read_json('Google_reviews/review-Kentucky/6.json', lines=True)
df7 = pd.read_json('Google_reviews/review-Kentucky/7.json', lines=True)
df8 = pd.read_json('Google_reviews/review-Kentucky/8.json', lines=True)
df9 = pd.read_json('Google_reviews/review-Kentucky/9.json', lines=True)
df10 = pd.read_json('Google_reviews/review-Kentucky/10.json', lines=True)
df11 = pd.read_json('Google_reviews/review-Kentucky/11.json', lines=True)

In [6]:
# Se concatenan los json
df_kentucky = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11], ignore_index=True)

Mississippi

In [8]:
df1 = pd.read_json('Google_reviews/review-Mississippi/1.json', lines=True)
df2 = pd.read_json('Google_reviews/review-Mississippi/2.json', lines=True)
df3 = pd.read_json('Google_reviews/review-Mississippi/3.json', lines=True)
df4 = pd.read_json('Google_reviews/review-Mississippi/4.json', lines=True)
df5 = pd.read_json('Google_reviews/review-Mississippi/5.json', lines=True)
df6 = pd.read_json('Google_reviews/review-Mississippi/6.json', lines=True)
df7 = pd.read_json('Google_reviews/review-Mississippi/7.json', lines=True)
df8 = pd.read_json('Google_reviews/review-Mississippi/8.json', lines=True)
df9 = pd.read_json('Google_reviews/review-Mississippi/9.json', lines=True)
df10 = pd.read_json('Google_reviews/review-Mississippi/10.json', lines=True)
df11= pd.read_json('Google_reviews/review-Mississippi/11.json', lines=True)
df12= pd.read_json('Google_reviews/review-Mississippi/12.json', lines=True)
df13 = pd.read_json('Google_reviews/review-Mississippi/13.json', lines=True)
df14 = pd.read_json('Google_reviews/review-Mississippi/14.json', lines=True)

In [9]:
# Se concatenan los json
df_Mississippi = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14], ignore_index=True)

In [18]:
df_iowa.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.154997e+20,Nicole Williams,1528935574441,5,I have found my new favorite nail shop. I love...,None,"{'time': 1528950923185, 'text': 'Thanks'}",0x87ec238afdd8837b:0x2f43f2b12142bff5
1,1.100727e+20,Dmitriy N,1575832576112,5,This place is awesome. Got my pedicure there a...,None,"{'time': 1576094549338, 'text': 'Thanks , Dmit...",0x87ec238afdd8837b:0x2f43f2b12142bff5
2,1.170215e+20,Sue Dickman,1465139905809,5,I love going to Polished Nails. Everyone is pr...,None,None,0x87ec238afdd8837b:0x2f43f2b12142bff5
3,1.090032e+20,Ashley Nguyen,1565271263810,5,Nice place to get a complete set.,None,"{'time': 1565752414209, 'text': 'Thanks'}",0x87ec238afdd8837b:0x2f43f2b12142bff5
4,1.132786e+20,Candy Hester,1450564402784,5,Great manicure from someone who really cares f...,None,None,0x87ec238afdd8837b:0x2f43f2b12142bff5

Se eliminan las columnas 'pics' y 'resp' de todos los df.

In [10]:
df_iowa.drop(columns='pics', inplace=True)
df_kentucky.drop(columns='pics', inplace=True)
df_Mississippi.drop(columns='pics', inplace=True)
df_california.drop(columns='pics', inplace=True)
df_texas.drop(columns='pics', inplace=True)
df_indiana.drop(columns='pics', inplace=True)

In [11]:
df_iowa.drop(columns='resp', inplace=True)
df_kentucky.drop(columns='resp', inplace=True)
df_Mississippi.drop(columns='resp', inplace=True)
df_california.drop(columns='resp', inplace=True)
df_texas.drop(columns='resp', inplace=True)
df_indiana.drop(columns='resp', inplace=True)

Se concatenan los df.

In [13]:
df_google_reviews = pd.concat([df_iowa, df_kentucky, df_Mississippi, df_california, df_texas, df_indiana], ignore_index=True)

Eliminamos la columna name ya que no es relevante.

In [15]:
df_google_reviews.drop(columns='name', inplace=True)

In [16]:
df_google_reviews.head()

,user_id,time,rating,text,gmap_id,state
0,1.154997e+20,1528935574441,5,I have found my new favorite nail shop. I love...,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa
1,1.100727e+20,1575832576112,5,This place is awesome. Got my pedicure there a...,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa
2,1.170215e+20,1465139905809,5,I love going to Polished Nails. Everyone is pr...,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa
3,1.090032e+20,1565271263810,5,Nice place to get a complete set.,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa
4,1.132786e+20,1450564402784,5,Great manicure from someone who really cares f...,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa

In [19]:
df_google_reviews.isna().sum()

user_id    0
time       0
rating     0
text       0
gmap_id    0
state      0
dtype: int64

Rellenamos los valores nulos de la columna 'text' con No text, ya que el usuario dio una puntuaci√≥n pero no dejo comentarios.

In [18]:
df_google_reviews['text'] = df_google_reviews['text'].fillna('No text')

In [20]:
from datetime import datetime

# Se formatea la fecha en el formato '%Y-%m-%d %H:%M:%S'
df_google_reviews['Date'] = df_google_reviews['time'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [27]:
df_google_reviews.head()

,user_id,rating,text,gmap_id,state,Date
0,1.154997e+20,5,I have found my new favorite nail shop. I love...,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa,2018-06-14 00:19:34
1,1.100727e+20,5,This place is awesome. Got my pedicure there a...,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa,2019-12-08 19:16:16
2,1.170215e+20,5,I love going to Polished Nails. Everyone is pr...,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa,2016-06-05 15:18:25
3,1.090032e+20,5,Nice place to get a complete set.,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa,2019-08-08 13:34:23
4,1.132786e+20,5,Great manicure from someone who really cares f...,0x87ec238afdd8837b:0x2f43f2b12142bff5,Iowa,2015-12-19 22:33:22

In [40]:
df_google_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6298865 entries, 0 to 6298864
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  float64
 1   rating   int64
 2   text     object
 3   gmap_id  object
 4   state    object
dtypes: float64(1), int64(1), object(3)
memory usage: 240.3+ MB

Se agrega la columna 'APP' para identificar a la hora de concatenar con las reviews de Yelp de que aplicacion viene la review.

In [29]:
df_google_reviews['APP'] = 'Google'

In [ ]:
df_google_review.rename(columns={'user_id':'User_ID', 'rating':'Stars', 'text':'Text', 'gmap_id':'ID_Business'}, inplace=True)

Realizamos el ETL sobre las reviews de Yelp!

In [ ]:
reviews_yelp = pd.read_json('Yelp_reviews/review.json', lines= True)

Eliminamos columnas irrelevantes.

In [ ]:
reviews_yelp.drop(columns=['useful', 'funny', 'cool', 'review_id'], inplace=True)

Renombramos columnas

In [ ]:
reviews_yelp.rename(columns={'user_id':'User_ID', 'stars':'Stars', 'text':'Text', 'business_id':'ID_Business', 'date':'Date'}, inplace=True)

Rellenamos nulos.

In [ ]:
reviews_yelp['Text'] = reviews_yelp['Text'].fillna('No text')

Agregamos la columna 'APP' para identificar de que aplicacion proviene la review.

In [ ]:
reviews_yelp['APP'] = 'Yelp'

Concatenamos las revies de Google Maps y las de Yelp.

In [ ]:
reviews_google_yelp = pd.concat([df_google_review, reviews_yelp], ignore_index=True)

Se filtran las reviews por restaurantes, realizando un left join con aquellas filas que coincidan con el ID_Business del df business_google_yelp.

In [ ]:
business = pd.read_parquet('Google_comercio/business_google_yelp.parquet')

Nos traemos las columnas 'ID_Business' y 'State'.

In [ ]:
business = business[['ID_Business', 'State']]

Se realiza el left join.

In [ ]:
reviews_google_yelp = pd.merge(business, df_google_review, on = 'ID_Business', how = 'left')

Se hace un mapeo para cambiar el codigo de los estados a los nombres.

In [ ]:
mapeo_estados = {'TX': 'Texas', 'CA': 'California', 'IA': 'Iowa', 'IN': 'Indiana', 'KY':'Kentucky', 'MS':'Mississippi'}

reviews_google_yelp['state'] = reviews_google_yelp['state'].replace(mapeo_estados)

In [ ]:
reviews_google_yelp.rename(columns={'state':'State', inplace=True})

In [ ]:
reviews_google_yelp = reviews_google_yelp[['ID_Business', 'State', 'User_ID', 'Stars', 'Text', 'Date', 'APP']]

Se resetea el indice.

In [ ]:
reviews_google_yelp = reviews_google_yelp.reset_index(drop=True)

Se guarda el resultado en parquet.

In [30]:
reviews_google_yelp.to_parquet('reviews_google_yelp.parquet')